<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vendor Orders</title>

    <!-- CSS/Vendor CSS cdn's -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/buttons.css" type="text/css" />
    <link href="/styles/header.css" rel="stylesheet" type="text/css" />
    <link href="/styles/user/order.css" rel="stylesheet" type="text/css" />


    <!-- CDNS (bootstrap,jquery,fontaweseom) -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!--  Vendor Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/appaux.js"></script>
  </head>

  <body>
    <header>
      <% include ./partials/vendor/header.ejs %>

        <nav id="nav">

        </nav>
    </header>
    <section id="menu_items">
      <h1 class="menuname"> Order


        </h1>

      <h3>
        <table>
        <tr>
          <td>

     </td>
          <td>
     Cust ID: <%= activeOrder.customerId %>
   </td>
   <td>
    Date Created: <%= activeOrder.date_time_created %>
  </td>
  <td>
    Pickup: <%= activeOrder.date_time_pickup %>
  </td>
    <td>
    Completed: <%= activeOrder.date_time_completed %>
  </td>
</tr>
</table>
</h3>
      <p> <h2>TOTAL: <%= orderTotal %> </h2> </p>
   <section id="postcustomertest"> <h4> Customer Profile</h4>
          <form action="/customer/order" method="POST">
            <textarea name="c_first_name"  placeholder="c_first_name"><%= customer.first_name %></textarea>
            <textarea name="c_last_name"  placeholder="c_last_name"><%= customer.last_name %></textarea>
            <textarea name="c_address"  placeholder="c_address"><%= customer.address %></textarea>
            <textarea name="c_phone"  placeholder="c_phone"><%= customer.phone %></textarea>
            <textarea name="c_email"  placeholder="c_email"><%= customer.email %></textarea>
            <input type="submit" value="Place Order">
          </form>
        </section>

      <!-- This include is what shows the item pop up -->
       <div class="line">

<% activeOrderItems.forEach(function(orderItem,index) { %>
<% if( (index + 1) % 3 === 0) { %>

    <%  } %>
        <div class="card">
          <img src="http://via.placeholder.com/275x150">
          <div class="card_body">
            <p> Order Item ID <%= orderItem.id %> Food Item ID <%= orderItem.foodId %>  foodid <%= orderItem.foodItem_id %></p>
            <p class="foodcat">food cat - <%= foodItems[orderItem.foodItem_id].category %></p>
            <p class="fooddesc">desc- <%= foodItems[orderItem.foodItem_id].description %></p>
            <p class="info">- unit <%= foodItems[orderItem.foodItem_id].price %></p>
            <p class="info">- quantity <%= orderItem.quantity %>
            <p class="info">- price <%= orderItem.price %>

          </div>
        </div>
        <% }) %>
      <div class="line">

      </div>
  </section>
  </body>
</html>
