<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vendor foods</title>

    <!-- CSS/Vendor CSS cdn's -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/buttons.css" type="text/css" />
    <link href="/styles/header.css" rel="stylesheet" type="text/css" />
    <link href="/styles/user/order.css" rel="stylesheet" type="text/css" />


    <!-- CDNS (bootstrap,jquery,fontaweseom) -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!--  Vendor Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/appaux.js"></script>
  </head>
    <header>
      <% include ./partials/vendor/header.ejs %>

        <nav id="nav">


        </nav>
    </header>
    <body style="background-color: #e8e8e8;">
    <section id="create_item">
      <h1 style="text-align: center;"> Create Item </h1>
      <!-- This include is what shows the item pop up -->
        <form action="/api/food" method="POST" style="margin-bottom: 50px; text-align: center;">
          <textarea name="fi_name"  placeholder="Name" class="makefoodtext"></textarea>
          <textarea name="fi_category"  placeholder="Category" class="makefoodtext"></textarea>
          <textarea name="fi_type"  placeholder="Type" class="makefoodtext"></textarea>
          <input type=number name="fi_prep_time_min"  placeholder="Prep time in Mins" class="makefoodtext" style="height: 45px;">
          <input type=number name="fi_pop_index" placeholder="Popularity" class="makefoodtext" style="height: 45px;">
          <input type=number name="fi_quantity"  placeholder="Quantity" class="makefoodtext" style="height: 45px;">
          <input type=number step="0.01" name="fi_price"  placeholder="Price" class="makefoodtext" style="height: 45px;">
          <textarea name="fi_description"  placeholder="Description" class="makefoodtext" style="height: 100px;"></textarea>
          <input type="submit" value="Make Food Item" class="btn btn-primary">
        </form>
      </section>
        <h1 style="text-align: center;">Food items</h1>
<% foodItems.forEach(function(foodItem,index) { %>
<% if( (index + 1) % 3 === 0) { %>
    <%  } %>
      <div class="line">
        <div class="card" style="height: 450px;">
          <img src="http://via.placeholder.com/275x150">
          <div class="card_body">
            <p><%= foodItem.name %></p>
            <p class="foodcat" style="text-align: left;">- category <%= foodItem.category %></p>
            <p class="fooddesc" style="text-align: left;">- description <%= foodItem.description %></p>
            <p class="foodprice" style="text-align: left;">- price <%= foodItem.price %></p>
            <p class="foodprep" style="text-align: left;">- prep time <%= foodItem.prep_time_min %></p>
            <p class="foodpopindex" style="text-align: left; margin-bottom: 10px;">- <%= foodItem.pop_index %> popularity</p>
        <form action="/api/food/<%= foodItem.id %>?_POSTOverride=DELETE" method="POST">
          <input type="submit" value="Delete This Food" class="btn btn-primary">
        </form>
        <form action="/vendor/foodaux/<%= foodItem.id %>" method="GET">
          <input type="submit" value="Modify this Food" class="btn btn-primary">
        </form>

          </div>
        </div>
        <% }) %>
      </div>
  </body>
</html>
