<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vendor foods</title>

    <!-- CSS/Vendor CSS cdn's -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/buttons.css" type="text/css" />
    <link href="/styles/header.css" rel="stylesheet" type="text/css" />
    <link href="/styles/user/order.css" rel="stylesheet" type="text/css" />


    <!-- CDNS (bootstrap,jquery,fontaweseom) -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!--  Vendor Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/appaux.js"></script>
  </head>

  <body>
    <header>
      <% include ./partials/vendor/header.ejs %>

        <nav id="nav">


        </nav>
    </header>
    <section id="food_items">
      <h1> FOOD ITEMS </h1>
      <!-- This include is what shows the item pop up -->
       <div class="line">
        <div class="card">
          <img src="http://via.placeholder.com/275x150">
          <div class="card_body">
        <form action="/api/food" method="POST">
          <textarea name="fi_name"  placeholder="fi_name"></textarea>
          <textarea name="fi_category"  placeholder="fi_category"></textarea>
          <textarea name="fi_type"  placeholder="fi_type"></textarea>
          <input type=number name="fi_prep_time_min"  placeholder="fi_prep_time_min">
          <input type=number name="fi_pop_index" placeholder="fi_pop_index">
          <input type=number name="fi_quantity"  placeholder="fi_quantity">
          <input type=number step="0.01" name="fi_price"  placeholder="fi_price">
          <textarea name="fi_description"  placeholder="fi_description"></textarea>
          <input type="submit" value="Make Food Item">
        </form>
          </div>
        </div>
<% foodItems.forEach(function(foodItem,index) { %>
<% if( (index + 1) % 3 === 0) { %>

    <%  } %>
        <div class="card">
          <img src="http://via.placeholder.com/275x150">
          <div class="card_body">
            <p> food ID <%= foodItem.id %>
                 Food cat <%= foodItem.category %>
                 foodid <%= foodItem.foodId %></p>
            <p class="foodname">- name <%= foodItem.name %></p>
            <p class="foodcat">- category <%= foodItem.category %></p>
            <p class="fooddesc">- description <%= foodItem.description %></p>
            <p class="foodprice">- price <%= foodItem.price %></p>
            <p class="foodprep">- prep time <%= foodItem.prep_time_min %></p>
            <p class="foodpopindex">- <%= foodItem.pop_index %> popularity</p>
        <form action="/api/food/<%= foodItem.id %>?_POSTOverride=DELETE" method="POST">
          <input type="submit" value="Delete <%= foodItem.id %>">
        </form>


        <form action="/vendor/foodaux/<%= foodItem.id %>" method="GET">
          <input type="submit" value="Modify <%= foodItem.id %>">
        </form>

          </div>
        </div>
        <% }) %>
      <div class="line">

      </div>
  </section>
  </body>
</html>
