<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vendor foods</title>

    <!-- CSS/Vendor CSS cdn's -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/buttons.css" type="text/css" />
    <link href="/styles/header.css" rel="stylesheet" type="text/css" />
    <link href="/styles/user/order.css" rel="stylesheet" type="text/css" />


    <!-- CDNS (bootstrap,jquery,fontaweseom) -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!--  Vendor Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/appaux.js"></script>
  </head>

  <body>
    <header>
      <% include ./partials/vendor/header.ejs %>
      <% include ./partials/user/myorder.ejs %>
      <% include ./partials/user/orderprogress.ejs %>
        <nav id="nav">


        </nav>
    </header>
    <section id="food_items">
      <h1> FOOD ITEMS UPDATE</h1>
      <!-- This include is what shows the item pop up -->

<% foodItems.forEach(function(foodItem,index) { %>
<% if( (index ) % 3 === 0) { %>
       <div class="line">
        <div class="card">
          <img src="http://via.placeholder.com/275x150">
          <div class="card_body">
        <form action="/api/food/<%= foodItem.id %>?_POSTOverride=PUT" method="POST">
          <textarea name="fi_name"><%= foodItem.name %></textarea>
          <textarea name="fi_category"><%= foodItem.category %></textarea>
          <textarea name="fi_type"><%= foodItem.type %></textarea>
          <input type=number name="fi_prep_time_min"  value="<%= foodItem.prep_time_min %>">
          <input type=number name="fi_pop_index" value="<%= foodItem.pop_index %>">
          <input type=number name="fi_quantity"  value="<%= foodItem.quantity%>">
          <input type=number step="0.01" name="fi_price"  value="<%= foodItem.price %>">
          <textarea name="fi_description"  value="fi_description"><%= foodItem.description %></textarea>
          <input type="submit" value="Update Food Item">
        </form>
          </div>
        </div>
    <%  } %>
        <% }) %>
      <div class="line">

      </div>
  </section>
  </body>
</html>
